header{
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;

}
#png{
    height: 150px;
}

form {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }